.DS_Store
vue/.DS_Store
vue/node_modules
vue/dist


# local env files
.env.local
.env.*.local

# Log files
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*

# Editor directories and files
.idea
vue/.idea
vue/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
